# Real Impact Of Inflation

Our project is to uncover the difference between the reported and actual urban inflation. We will be using the CPI data, from the Bureau of Labor Statistics, with and without food and energy costs to answer this question. Additionally, we will also be analyzing the differences in inflation between the various US regions, compared to the national average, over time.

## The Data
@TODO: Insert description of the BLS data

In [49]:
import pandas as pd
import plotly.express as px
from pathlib import Path

### Reading/Pre-Processing the Data

In [93]:
# List of csv titles
csv_titles = ['All','Energy','Food','Gasoline', 'Less-Food-Energy', 'Midwest', 'Northeast', 'South', 'West']

In [121]:
# Method to retrieve all csvs as pandas DataFrames
def get_dfs():
    # Empty list to hold all dataframes
    dataframes = []
    
    # Looping over csv titles list
    for title in csv_titles:
        # Saving the csv (by title) as DataFrame, making Year the index column and dropping the HALF1 and HALF2 columns
        df = pd.read_csv(Path(f'./Data/{title}.csv'), index_col='Year').drop('HALF2', axis=1)
        # Fill NaN values with average
        df = df.fillna(round(all_df.iloc[-1,:9].mean(),3))
        # Adding the DataFrame to the dataframes list
        dataframes.append(df)
    
    # Returning all the dataframes
    return dataframes

In [127]:
# Getting and storing each DataFrame from get_dfs method
dfs = [all_df, energy_df, food_df, gasoline_df, less_food_energy_df, midwest_df, northeast_df, south_df, west_df] = get_dfs()
# Looping over csv titles and indexes
for index, title in enumerate(csv_titles):
    # Printing CSV Title and DataFrame Name
    print(f'\033[1mCSV Title\033[0m: {title}.csv\n\033[1mDataFrame Name\033[0m: {title.lower()}_df')
    # Displaying DataFrame
    display(dfs[index])
    # Printing new line
    print('\n')

CSV Title: All.csv
DataFrame Name: all_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1
Year,,,,,,,,,,,,,
2012,226.665,227.663,229.392,230.085,229.815,229.478,229.104,230.379,231.407,231.317,230.221,229.601,228.850
2013,230.280,232.166,232.773,232.531,232.945,233.504,233.596,233.877,234.149,233.546,233.069,233.049,232.366
2014,233.916,234.781,236.293,237.072,237.900,238.343,238.250,237.852,238.031,237.433,236.151,234.812,236.384
2015,233.707,234.722,236.119,236.599,237.805,238.638,238.654,238.316,237.945,237.838,237.336,236.525,236.265
2016,236.916,237.111,238.132,239.261,240.229,241.018,240.628,240.849,241.428,241.729,241.353,241.432,238.778
2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524,244.076
2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233,250.089
2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,254.412
2020,257.971,258.678,258.115,256.389,256.394,257.797,259.101,259.918,260.280,260.388,260.229,260.474,257.557
2021,261.582,263.014,264.877,267.054,269.195,271.696,273.003,273.567,274.310,276.589,277.948,278.802,266.236
2022,281.148,283.716,287.504,289.109,292.296,296.311,296.276,296.171,296.808,291.038,291.038,291.038,288.347

CSV Title: Energy.csv
DataFrame Name: energy_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1
Year,,,,,,,,,,,,,
2012,236.942,242.663,253.599,255.736,250.306,244.167,239.972,250.306,256.332,250.523,238.946,233.473,247.235
2013,234.624,248.146,249.565,244.757,247.805,251.921,251.370,250.011,248.513,238.524,233.136,234.542,246.136
2014,239.551,242.041,250.543,252.717,255.982,259.858,257.907,250.951,247.077,234.745,221.844,209.785,250.115
2015,192.619,196.597,204.731,203.715,214.330,220.861,219.852,213.248,201.641,194.501,189.267,183.378,205.476
2016,180.171,172.061,179.017,185.652,192.673,200.035,195.940,193.524,195.852,194.786,191.402,193.306,184.935
2017,199.608,198.195,198.597,202.869,203.132,204.646,202.554,205.894,215.711,207.290,209.383,206.598,201.175
2018,210.663,213.519,212.554,218.830,226.810,229.137,227.107,226.939,226.165,225.757,215.910,205.905,218.586
2019,200.563,202.740,211.724,222.499,225.773,221.373,222.492,216.978,215.418,216.351,214.636,212.982,214.112
2020,213.043,208.354,199.573,183.081,183.076,193.379,197.665,197.362,198.858,196.458,194.388,198.155,196.751
2021,205.273,213.277,225.861,229.116,235.339,240.720,244.800,246.639,248.228,255.338,259.100,256.207,224.931
2022,260.653,267.771,298.246,298.469,316.761,340.917,325.407,305.372,297.343,291.038,291.038,291.038,297.136

CSV Title: Food.csv
DataFrame Name: food_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1
Year,,,,,,,,,,,,,
2012,232.666,232.486,232.792,233.234,233.339,233.563,233.630,234.156,234.298,234.878,234.896,235.390,233.013
2013,236.341,236.301,236.332,236.841,236.526,236.792,237.001,237.406,237.522,237.871,237.641,237.869,236.522
2014,238.872,239.608,240.398,241.337,242.344,242.326,243.034,243.811,244.630,245.166,245.192,245.976,240.814
2015,246.538,246.680,246.045,246.121,246.187,246.680,247.003,247.671,248.632,249.052,248.306,247.903,246.375
2016,248.631,248.800,247.978,248.413,247.860,247.482,247.554,247.719,247.917,248.073,247.435,247.313,248.194
2017,248.242,248.791,249.165,249.739,250.016,249.653,250.214,250.493,250.993,251.364,250.871,251.238,249.268
2018,252.361,252.266,252.370,253.209,253.098,253.231,253.746,254.077,254.393,254.358,254.379,255.210,252.756
2019,256.417,257.222,257.724,257.708,258.110,258.064,258.274,258.410,258.943,259.632,259.467,259.823,257.541
2020,261.057,261.876,262.708,266.757,268.439,269.770,268.863,269.079,269.163,269.828,269.069,270.023,265.101
2021,270.938,271.363,271.812,273.090,274.212,276.206,278.127,279.135,281.506,284.205,285.507,286.966,272.937
2022,289.772,292.794,295.728,298.711,302.038,305.041,308.532,310.875,313.142,291.038,291.038,291.038,297.347

CSV Title: Gasoline.csv
DataFrame Name: gasoline_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1
Year,,,,,,,,,,,,,
2012,290.762,305.076,329.780,335.742,323.604,303.747,295.498,316.859,329.898,322.934,298.131,285.606,314.785
2013,286.417,315.243,319.523,307.814,310.352,312.212,310.886,309.355,305.299,290.306,280.742,282.773,308.594
2014,286.607,289.814,304.464,315.335,317.434,318.334,313.514,300.640,294.222,275.729,251.172,223.404,305.331
2015,185.142,194.883,215.442,215.461,238.170,244.226,243.736,230.513,207.239,199.077,190.701,179.496,215.554
2016,171.574,154.564,170.356,185.808,198.011,206.681,195.243,189.375,193.817,197.357,192.522,195.915,181.166
2017,206.360,201.957,204.217,212.424,209.441,205.881,201.173,209.000,231.182,218.591,224.227,216.781,206.713
2018,223.806,227.420,226.872,240.962,255.096,255.885,252.232,251.367,252.216,253.793,235.381,212.152,238.340
2019,201.194,206.749,225.282,248.499,254.551,242.043,244.000,233.625,231.496,235.168,232.575,228.857,229.720
2020,227.010,218.373,202.205,168.891,168.528,185.422,194.397,194.449,195.888,192.792,187.609,193.990,195.072
2021,207.406,221.689,247.652,252.603,263.170,268.979,275.656,277.448,278.338,288.501,296.571,290.185,243.583
2022,290.416,305.959,366.499,362.802,391.262,430.142,396.952,348.593,328.918,291.038,291.038,291.038,357.847

CSV Title: Less-Food-Energy.csv
DataFrame Name: less-food-energy_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1
Year,,,,,,,,,,,,,
2012,227.237,227.865,228.735,229.303,229.602,229.879,229.893,230.196,230.780,231.276,231.263,231.033,228.770
2013,231.612,232.432,233.052,233.236,233.462,233.640,233.792,234.258,234.782,235.162,235.243,235.000,232.906
2014,235.367,236.075,236.913,237.509,238.029,238.157,238.138,238.296,238.841,239.413,239.248,238.775,237.008
2015,239.248,240.083,241.067,241.802,242.119,242.354,242.436,242.651,243.359,243.985,244.075,243.779,241.112
2016,244.528,245.680,246.358,246.992,247.544,247.794,247.744,248.278,248.731,249.218,249.227,249.134,246.483
2017,250.083,251.143,251.290,251.642,251.835,252.014,251.936,252.460,252.941,253.638,253.492,253.558,251.335
2018,254.638,255.783,256.610,257.025,257.469,257.697,257.867,258.012,258.429,259.063,259.105,259.083,256.537
2019,260.122,261.114,261.836,262.332,262.590,263.177,263.566,264.169,264.522,265.059,265.108,264.935,261.862
2020,266.004,267.268,267.312,266.089,265.799,266.302,267.703,268.756,269.054,269.328,269.473,269.226,266.462
2021,269.755,270.696,271.713,273.968,275.893,278.218,279.146,279.507,279.884,281.617,282.754,283.908,273.374
2022,285.996,288.059,289.305,290.846,292.506,294.680,295.646,297.178,298.442,291.038,291.038,291.038,290.232

CSV Title: Midwest.csv
DataFrame Name: midwest_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1
Year,,,,,,,,,,,,,,
2012,216.368,216.855,218.975,219.405,219.145,219.017,218.956,220.462,221.125,220.375,219.483,219.033,219.100,218.294
2013,219.282,221.599,222.121,221.931,223.049,223.775,222.902,223.046,223.252,222.171,221.718,221.194,222.170,221.960
2014,222.247,223.493,225.485,226.214,226.565,227.588,226.997,226.587,226.913,225.793,224.396,222.821,225.425,225.265
2015,221.545,222.301,223.550,223.797,224.732,225.946,225.853,225.830,225.184,225.050,224.009,222.722,224.210,223.645
2016,223.301,223.196,224.621,225.609,226.476,227.835,226.786,227.097,227.636,227.358,226.673,226.794,226.115,225.173
2017,228.279,228.633,228.824,229.682,229.705,229.780,229.820,230.443,231.030,230.660,231.084,230.548,229.874,229.151
2018,232.028,232.512,232.931,233.913,235.065,235.455,235.346,235.276,235.524,235.680,234.292,233.458,234.290,233.651
2019,233.837,235.444,236.793,237.510,238.219,238.288,238.760,238.786,238.847,239.243,238.850,238.734,237.776,236.682
2020,239.690,240.421,239.163,236.474,237.291,239.259,240.430,241.362,241.878,241.740,241.316,241.453,240.040,238.716
2021,242.552,244.477,246.246,248.169,250.582,253.042,254.671,255.142,255.709,257.793,258.911,259.609,252.242,247.511
2022,261.657,263.988,267.312,268.639,272.673,277.072,276.525,275.875,276.549,291.038,291.038,291.038,291.038,268.557

CSV Title: Northeast.csv
DataFrame Name: northeast_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1
Year,,,,,,,,,,,,,,
2012,242.879,243.850,245.125,245.850,245.709,245.201,244.984,246.252,247.409,247.564,247.097,246.456,245.698,244.769
2013,247.277,248.665,248.719,248.464,248.584,248.851,249.411,249.858,250.231,249.320,249.503,249.567,249.038,248.427
2014,251.045,251.233,252.413,252.506,253.598,253.555,253.833,253.185,253.154,252.730,251.781,250.519,252.463,252.392
2015,250.016,250.619,251.451,251.760,252.770,253.626,253.405,252.903,252.922,252.504,252.573,251.670,252.185,251.707
2016,251.739,252.250,252.854,254.270,255.023,255.471,255.386,255.545,256.085,256.605,256.541,256.427,254.850,253.601
2017,258.073,258.768,258.510,259.165,259.386,259.335,258.833,259.508,260.875,260.580,260.630,260.791,259.538,258.873
2018,262.188,263.260,263.556,264.669,265.840,265.950,265.830,266.425,266.709,266.464,265.487,265.286,265.139,264.244
2019,266.109,266.706,268.025,269.070,269.744,270.133,270.381,270.548,270.563,270.348,270.643,270.429,269.392,268.298
2020,272.316,273.080,272.531,271.325,271.345,272.283,273.347,273.597,273.925,273.374,273.543,274.225,272.908,272.147
2021,275.427,276.473,278.197,280.234,281.858,284.741,285.220,285.630,286.423,288.236,289.835,290.405,283.557,279.488
2022,292.644,294.605,298.403,300.325,302.939,306.453,305.916,306.855,307.152,291.038,291.038,291.038,291.038,299.228

CSV Title: South.csv
DataFrame Name: south_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1
Year,,,,,,,,,,,,,,
2012,220.497,221.802,223.314,224.275,223.356,223.004,222.667,223.919,225.052,224.504,223.404,223.109,223.242,222.708
2013,223.933,225.874,226.628,226.202,226.289,227.148,227.548,227.837,227.876,227.420,226.811,227.082,226.721,226.012
2014,227.673,228.664,230.095,231.346,231.762,232.269,232.013,231.611,231.762,231.131,229.845,228.451,230.552,230.302
2015,226.855,227.944,229.337,229.957,230.886,232.026,231.719,231.260,230.913,230.860,230.422,229.581,230.147,229.501
2016,229.469,229.646,230.977,231.975,232.906,233.838,233.292,233.561,234.069,234.337,234.029,234.204,232.692,231.469
2017,235.492,236.052,236.154,236.728,236.774,237.346,236.942,237.892,239.649,239.067,238.861,238.512,237.456,236.424
2018,239.772,241.123,241.595,242.486,243.279,243.770,243.776,243.605,243.640,244.163,243.484,242.150,242.737,242.004
2019,242.547,243.856,245.554,246.847,246.667,246.515,247.250,246.953,246.891,247.423,247.385,247.289,246.265,245.331
2020,248.005,248.412,248.136,246.254,245.696,247.223,248.619,249.639,250.193,250.542,250.255,250.693,248.639,247.288
2021,252.067,253.386,255.319,257.207,259.343,261.668,263.013,263.728,264.593,267.160,268.360,269.263,261.259,256.498
2022,271.634,274.688,278.598,279.879,283.307,287.427,287.608,287.168,287.656,291.038,291.038,291.038,291.038,279.256

CSV Title: West.csv
DataFrame Name: west_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1
Year,,,,,,,,,,,,,,
2012,228.980,229.995,232.039,232.561,233.053,232.701,231.893,233.001,234.083,234.966,233.206,232.029,232.376,231.555
2013,232.759,234.595,235.511,235.488,235.979,236.227,236.341,236.591,237.146,237.000,236.153,236.096,235.824,235.093
2014,236.707,237.614,239.092,239.808,241.350,241.616,241.850,241.660,241.920,241.650,240.220,239.095,240.215,239.365
2015,238.318,239.748,241.690,242.302,244.227,244.332,245.040,244.737,244.257,244.341,243.749,243.434,243.015,241.770
2016,244.600,244.821,245.404,246.589,247.855,248.228,248.375,248.498,249.234,249.897,249.448,249.516,247.705,246.250
2017,250.814,252.252,252.949,253.806,254.380,254.469,254.708,255.282,256.504,257.223,257.126,257.347,254.738,253.112
2018,258.638,259.986,260.994,262.037,263.240,263.732,263.971,264.395,265.105,266.195,265.658,265.209,263.263,261.438
2019,265.624,266.215,267.370,269.522,270.880,270.957,271.029,271.264,272.102,273.524,273.128,272.584,270.350,268.428
2020,273.340,274.412,273.995,272.913,273.062,274.155,275.597,276.443,276.422,276.876,276.875,276.593,275.057,273.646
2021,277.238,278.702,280.625,283.507,285.793,288.263,289.863,290.393,291.053,293.397,294.986,296.102,287.494,282.355
2022,298.705,301.158,305.082,307.145,309.645,313.496,313.951,314.013,315.094,291.038,291.038,291.038,291.038,305.872